/*
1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное
*/

/* Fonts - start */

/* Fonts - end */

:root {
    --text: #000000;
    --text-accent: #ff5f33;

    --background: #eaeaea;
    --background-wrapper: #f3f3f3;
}

/* Global style - start*/
*, *:before, *:after {
    box-sizing: border-box
}

html,
body {
    min-width: 320px;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;

    color: var(--text);

    background-color: var(--background);

}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
}

.container {
    margin: 0 auto;
    padding: 0 20px;

    width: 1240px;
}
/* Global style - end */

/* header - start */

.navigation{
    margin-top: 40px;
}

.navigation__list {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    font-weight: bold;
    font-size: 17px;
    line-height: 120%;

    list-style: none;

}

.navigation__link {
    padding: 29px;
    color: var(--text);
}
/* header - end */

/* main - start */

/* head-sec - start */
.head-sec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 90px;
    padding-top: 60px;
    padding-bottom: 200px;

    background: url("../src/img/salat.svg") no-repeat 96% 0;
}

.head-sec__title {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 55px;
    line-height: 115%;
}

.head-sec__text {
    width: 400px;

    opacity: 0.6;
}
/* head-sec - end */

/* basics and standards - start */
.basics__title--section,
.standards__title--section {
    margin-bottom: 10px;

    font-weight: bold;
    text-align: center;
    font-size: 20px;
    line-height: 120%;
    color: var(--text-accent);
}

.basics__title,
.standards__title {
    margin-top: 10px;

    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
}
/* basics and standards - end */

/* basics - start */
.basics {
    margin-bottom: 70px;
}

.basics__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;

    height: 600px;

    background: var(--background-wrapper);
    border-radius: 20px 0;
}

.basics__article {
    display: flex;
    align-items: flex-end;

    height: 100%;
    width: 331px;
}

.apple {
    background: url("../src/img/apple.svg") no-repeat 50% 15%;
}
.fish{
    background: url("../src/img/fish.svg") no-repeat 50% 15%;
}
.cheese{
    background: url("../src/img/cheese.svg") no-repeat 50% 15%;
}

.basics__text {
    margin-bottom: 70px;

    font-size: 16px;
    line-height: 130%;

    opacity: 0.6;
}
/* basics - end */

/* standards - start */
.standards {
    margin-bottom: 160px;
}

.standards__wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: space-between;

    background: url("../src/img/backpack.svg") no-repeat 0 26%;
}

.standards__list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    padding-right: 50px;
    padding-left: 20px;

    width: 50%;

}

.standards__item {
    margin-bottom: 10px;

    width: 258px;
    height: 278px;

    background: var(--background-wrapper) url("../src/img/list.svg") no-repeat 94% 85%;
    border-radius: 20px 0;
}

.standards__item-title {
    margin: 13px 50px 0 10px;

    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
}

.standards__item-text{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 140px;

    font-size: 16px;
    line-height: 120%;

    opacity: 0.6;
}

/* standards - end */

/* main - end */

/* footer - start */

/* footer - end */
